body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #000;
    height: 150px;
    width: auto;
    padding: 5px;
}




ul.list li {
    display: inline-block;
}

.list li {
    color: rgb(194, 194, 194);
    margin-left: 30px;
    position: relative;
    top: 110px;
}

.list {
    margin: auto;
    margin-left: 150px;
}

.blue {
    width: auto;
    height: 50px;
    background-color: rgb(50, 110, 128);
    padding: 20px;
}

#blue1 {
    margin: auto;
    width: 100%;
}

.gray {
    width: auto;
    height: 50px;
    background-color: gray;
    padding: 5px;
}


.container {
    margin: auto;
    width: 900px;
    background-color: whitesmoke;
    height: auto;
}

.top {
    background-color: gray;
    height: 50px;
    margin-bottom: 15px;
}

ul.links li {
    display: inline-block;
}

.links li {
    margin-left: 20px;
    margin-top: 20px;
}


/*a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
} */



.col {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.row {
    border: 1px solid rgb(99, 112, 99);
    width: 31.5%;
    height: 200px;
    display: inline-block;
    margin-left: 10px;
}

footer {
    background-color: black;
    height: 50px;
    width: auto;
}

.search {
    float: right;
}




@media only screen and (max-width: 400px) {
    .col,
    .row {
        width: 100%;
        margin: auto;
    }
    .list {
        margin-left: 10px;
        position: relative;
        bottom: 60px;
        right: 38px;
    }
    .list li {
        color: white;
        margin-left: 45px;
        padding-left: 2px;
        position: relative;
        top: 110px;
    }
    .container {
        margin: auto;
        width: 100%;
        background-color: whitesmoke;
        height: auto;
    }
}




@media only screen and (max-width: 760px) {}




@media only screen and (max-width: 900px) {}